
    .navbar {
  background-color: #2db245;
  border-color: #2db245;
}
.navbar .navbar-brand {
  color: #000000;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #f7e7ef;
}
.navbar .navbar-text {
  color: #000000;
}
.navbar .navbar-nav > li > a {
  color: #000000;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: #f7e7ef;
}
.navbar .navbar-nav > li > .dropdown-menu {
  background-color: #2db245;
}
.navbar .navbar-nav > li > .dropdown-menu > li > a {
  color: #000000;
}
.navbar .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #f7e7ef;
  background-color: #2db245;
}
.navbar .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #2db245;
}
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #f7e7ef;
  background-color: #2db245;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  color: #f7e7ef;
  background-color: #2db245;
}
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
  color: #f7e7ef;
  background-color: #2db245;
}
.navbar .navbar-toggle {
  border-color: #2db245;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #2db245;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #000000;
}
.navbar .navbar-link {
  color: #000000;
}
.navbar .navbar-link:hover {
  color: #f7e7ef;
}

@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f7e7ef;
  }
  .navbar .navbar-nav .open .dropdown-menu > .active > a,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f7e7ef;
    background-color: #2db245;
  }
}
